.main {
    display: block;
    box-sizing: border-box;
    min-height: 120dvh;
    // width: 100dvw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    color: $primary;

    .box {
        p{
            opacity: 0.95;
        }
        h1 {
            font-weight: 100;
        }
    }
}

@import '../breakpoints';
//hidding nav bar for small device
.navbar {
  @include xs {
    .full-navbar {
      display: none;
      flex-direction: column;
      padding: 0;
      margin-top: $base-margin*1.5;
      position: absolute;
      top: 0;
      right: 0;

      a {
        padding: $base-padding 0;
      }
    }
    .short-navbar {
      display: flex;
    }
    
  }
  @include md {
    .short-navbar {
      display: none;
    }
    .close-navbar {
      display: none;
    }
    .full-navbar {
      display: flex;
      flex-direction: row;
      padding: 0 $base-padding;

      a {
        padding: $base-padding*2.2 0;
      }
    }
  }
  @include lg {
    .full-navbar {
      padding: 0 $base-padding*5;
      a {
        padding: $base-padding*2.2 0;
      }
    }
  }
}
  
.main{
  .box {
    @include xs{
      max-width: 35ch;
      p {
          line-height: $base-font-size*2;
          font-size: $base-font-size*1.2;
      }
    }
    @include md {
        max-width: 45ch;
        p {
            line-height: $base-font-size*2;
            font-size: $base-font-size;
        }
        h1 {
          letter-spacing: $base-font-size*0.5;
          justify-self: flex-start;
        }
    }
    @include xl {
      justify-content: space-between;
      flex-direction: column;
      max-width: $base-font-size*25;
      text-align:justify;
    }
  }

  .centralise {
    @include xl{
      flex-direction: row;
      justify-content: space-between;
    }  
  }

  .tech-centralise {
    @include xs {
      // flex-direction: row-reverse;
    }
  }
}

.hero{
  @include xs {
    text-align: center;
    margin-top: $base-margin*5;
  }
  @include xl {
    text-align: justify;
    padding: $base-padding*5;
    margin-top: 0;
  }

  picture {
    @include xs {
      margin-bottom: $base-margin*3;
    }
    @include xl {
      padding: $base-padding*5;
      // text-align: center;
      margin-right: $base-margin*3;
    }
  }
}


