@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  padding: $base-padding $base-padding * 2;
  border-radius: $base-border-radius;
  background-color: $bg-color;
}

.btn {
  @include btn;
}
.round-btn {
  @include btn;
  border-radius: 50%;
  width: $base-padding*13;
  height: $base-padding*13;
  display: flex;
  justify-content: center;
  align-items: center
}

@each $key, $val in $colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outlined-#{$key} {
    @include btn(#fff);
    border: $base-border-thickness solid $val;
    &:hover {
      background-color: $val;
    }
  }
  .btn-complement-#{$key} {
    @include btn($val);
    color: light-comp($val);
    &:hover {
      color: $val;
      background-color: light-comp($val);
    } 
  }
}

.circle-buttons {
  // min-height: $base-font-size*20;
  display: flex;
  flex-grow: 1;
  // flex-direction: column;
  justify-content: space-around;
  @include xs {
    min-width: 60%;
    flex-direction: row;
    margin-bottom: $base-margin*4;
  }
  @include xl {
    min-height: $base-font-size*20;
    flex-direction: column;
    min-width: auto;
    margin-right: $base-margin*3;
    margin-bottom: auto;
    justify-content: space-around;
  }
  
}
.circle-button {
  font-size: $base-font-size*1.5;
  line-height: $base-font-size*1.5;
  width: $base-font-size*1.5;
  height: $base-font-size*1.5;
  padding: $base-padding*1.5;
  border: solid 1px $primary;
  border-radius: 50%;

  &[aria-current="tech"] {
    color: $tertiary;
    background-color: $secondary;
  }
}