.main {
    display: block;
    box-sizing: border-box;
    min-height: 120dvh;
    width: 100dvw;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    color: $primary;

    .box {
        p{
            opacity: 0.95;
        }
        h1 {
            font-weight: 100;
        }
    }
}


